@{
    ViewBag.Title = Resources.Global.AboutTitle;      
}
<h2>@ViewBag.Title</h2>

<p>@Resources.Global.AboutMe 
    <br> 
    <br>
    @Resources.Global.AboutMyUniversity 
    <br>    
</p>

<p>@Resources.Global.AboutMyLinkedin</p>
<a target="_blank" href="https://br.linkedin.com/in/wagner-loranzatto">
    <img src="~/Images/logo-linkedin.png">
</a>

<hr />

<h2>@Resources.Global.AboutSummary</h2>
<br>
<p>@Html.Raw(Html.Encode(@Resources.Global.AboutSummaryDetails).Replace("\\n", "<br />"))</p>

<hr />

<h2>@Resources.Global.AboutImplementation</h2>

<p>@Html.Raw(Html.Encode(@Resources.Global.AboutImplementationDetails).Replace("\\n", "<br />"))</p>



